DATABASE_URL="postgresql://user:password@host/dbname?sslmode=require"
DIRECT_URL="postgresql://user:password@host/dbname?sslmode=require"

JWT_SECRET="your-secret-key"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Blockchain
BSC_RPC_URL="https://data-seed-prebsc-1-s1.binance.org:8545/"
USDT_CONTRACT_ADDRESS="0x337610d27c682E347C9cD60BD4b3b107C9d34dDd"
MAIN_WALLET_PRIVATE_KEY=""
HD_WALLET_SEED=""

# Network mode: testnet or mainnet
NETWORK_MODE="testnet"
